.idea/aws.xml
frontend/frontend-build.zip
frontend/temp_extract/
frontend/src/config.js~
venv/

terraform.*
.terraform.*

infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.*
infrastructure/crash.log
infrastructure/*.tfvars
infrastructure/*.tfvars.json
infrastructure/.terraform.lock.hcl